form{
    width: 500px;
    margin: auto;
}
h1{
    text-align: center;
}
/*h2{
    text-align: center;
}*/
label{
    display: block;
    margin-top: 15px;
}
input,textarea{
    width: 100;
    padding: 8px;
    margin-top:5px ;
    box-sizing: border-box;
}
.btn{
    background-color: brown;
    color: green;
}
